name: RDP
 
on: [push, workflow_dispatch]
 
jobs:
  build:
  
    runs-on: windows-latest
 
    steps:
    - name: DOWNLOADING
      run: Invoke-WebRequest https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-windows-amd64.zip -OutFile ngrok.zip
    - name: EXTRACT
      run: Expand-Archive ngrok.zip
    - name: AUTENTIFIKASI
      run: .\ngrok\ngrok.exe authtoken 239HvwONmmL5wvPtNFqGQ1eIPiB_9B17BAZTKSZuPHpRCo2t
    - name: ENABLE TS
      run: Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\TerminalServer' -name "fDenyTSConnections" -Value 0
    - run: Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
    - run: Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\TerminalServer\Winstations\RDP-Tcp' -name "UserAuthentication" -Value 1
    - run: Set-LocalUser -Name "runneradmin" -Password (ConvertTo-SecureString -AsPlainText "P@ssw0rd!" -Force)
    - name: DONE!
      run: .|ngrok\ngrok.exe tcp 3389
